name: Update Cloud Saves DB

on:
  workflow_dispatch:
  schedule:
    # Runs every day at 02:00 UTC (adjust as needed)
    - cron: "0 2 * * *"

permissions:
  contents: write

jobs:
  update-db:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install requests

      - name: Run update script
        run: |
          python3 update_db_generator.py

      - name: Commit and push if file changed
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

          # Check if the update DB file changed
          if git status --porcelain | grep -q "mister_cloud_saves_db.json"; then
            git add mister_cloud_saves_db.json
            git commit -m "Auto-update mister_cloud_saves_db.json"
            git push
          else
            echo "No changes to commit."
          fi
